.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 2%;
  text-align: center;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.medal-container {
  margin: 40px auto;
  background-color: rgb(222, 127, 203);
  padding: 20px;
  border-radius: 20px;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.medal-table th {
  background-color: green;
}
